<div class="form-container">
    <h2>Postagem</h2>
  
    <form (ngSubmit)="publicarPostagem()" #form="ngForm">
      <label for="tema">Tema:</label>
      <input
        type="text"
        id="tema"
        name="tema"
        [(ngModel)]="postagem.tema"
        placeholder="Digite o nome do tema"
        required
      />
  
      <label for="titulo">Título:</label>
      <input
        type="text"
        id="titulo"
        name="titulo"
        [(ngModel)]="postagem.titulo"
        placeholder="Digite o título da postagem"
        required
      />
  
      <label for="texto">Texto:</label>
      <textarea
        id="texto"
        name="texto"
        [(ngModel)]="postagem.texto"
        placeholder="Digite o conteúdo da postagem"
        rows="5"
        required
      ></textarea>
  
      <button type="submit" [disabled]="form.invalid">Publicar</button>
    </form>
  </div>
  
