.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #3f51b5;  // Cor primária do Material Design
    color: white;
    text-align: center;
    font-size: 14px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  mat-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  mat-icon:hover {
    color: #ff4081;  // Cor de destaque quando o mouse passar sobre o ícone
  }
  