<div class="auth-container">
  <h2>Cadastro</h2>

  <form [formGroup]="registerForm" (ngSubmit)="register()" class="auth-form">
    <div class="form-group">
      <input formControlName="name" type="text" placeholder="Nome" />
    </div>

    <div class="form-group">
      <input formControlName="username" type="email" placeholder="Email" />
    </div>

    <div class="form-group">
      <input formControlName="password" type="password" placeholder="Senha" />
    </div>

    <button type="submit">Cadastrar</button>

    <div *ngIf="registerError" class="error-message">
      {{ registerError }}
    </div>
  </form>

  <p class="auth-link">
    Já tem conta? <a routerLink="/login">Faça login</a>
  </p>
</div>