/* styles.css */
@import '@swimlane/ngx-charts/index.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
  
  /* Garante que o footer fique no fundo */
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  /* styles.css */
main {
    min-height: calc(100vh - 64px - 200px); /* Ajuste 64px header e 200px footer */
  }

  /* Ajustes para o tema Analytics */
.ngx-charts text {
    fill: #666 !important;
    font-size: 12px !important;
  }
  
  .ngx-charts .axis-label {
    fill: #333 !important;
    font-size: 14px !important;
  }